.env
.env*.local
node_modules/
.expo/
dist/
web-build/
app/node_modules/react-native-css-interop/.cache/*.js

# Test directories & files
test/
tests/
__tests__/
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
*.spec.js
*.spec.jsx
*.spec.ts
*.spec.tsx
coverage/
